html, body {
    background-color: $primary-background-color;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.base__container {
    margin: 0 auto;
    max-width: 1000px;
}