.product__preview-box {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
.product__picture {
    background-size: cover;
    border-radius: 5px;
    float: left;
    height: 150px;
    margin-right: 15px;
    width: 150px;
}
.product__info {
    float: left;
}
.product__price_box {
    margin: 15px 0 10px 0;
}
.product__price {
    font-size: 1.5rem;
    margin-right: 15px;
}
.product__tittle {
    font-size: 1.2rem;
}
.product__ciudad {
    color: darken($primary-background-color, 30%);
    font-size: 1rem;
    min-width: 150px;
    margin-top: 15px;
}